html, body {
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif;
  font-size: 16px;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}


/* Header */

.header .col-md-6 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.header nav-pills {
  text-align: right;
}

.nav-pills li {
  border-radius: 5px;
  border: 1px solid rgba(216,25,47,1);
  margin-left: 10px;
}

.nav-pills li a {
  color: #d8192f;
}

.nav-pills li.active a,
.nav-pills li.active a:hover,
.nav-pills li a:hover,
.section .btn:hover {
  background-color:rgba(216,25,47,1);
  box-shadow:0 2px 4px rgba(0,0,0,.5); 
  color:#fff;
}

/* Jumbotron */
.jumbotron {
  height: 500px;
  background: url('https://goo.gl/9IUGMi');
  background-size: cover;
  color: white;
}

.jumbotron .container {
  margin: 10%;
}


/* Banner */
.banner, .supporting {
  text-align: center;
  padding-top: 40px;
}

.banner {
  background-color:#36343f;
  height:180px; 
  color: #fff;
}

.banner .btn {
  background-color: rgba(216,25,47,.5);
  color: white;
  border: 0px;
  font-size: 21px;
}

.section a {
  margin-top: 10px;
}

/* Supporting */

.page-header {
  text-align: center;
}

.section h4 {
  color: rgb(216,25,47);
  font-size: 18px;
}

.section ul {
  list-style: none;
}

.section .col-md-4 {
  text-align: center;
  padding-bottom: 80px;
}

/* Footer*/

.footer {
  background-color: #eee;
  padding: 50px;
}

.footer a {
  color: rgb(216,25,47);
}

.footer .col-md-4 {
  margin-top: 10px;
}

/* Media Queries */
@media (max-width: 680px) {
  .header h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  .nav {
    float: none;
    margin: 0 auto;
  }
  .banner {
    height: 220px;
  }

  .nav-pills li:first-child a  {
    margin-left: 0;
  }
}